@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --ino-color-black: #000;
  --ino-color-white: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Nunito, sans-serif;

  background-color: var(--ino-color-white);
  color: var(--ino-color-black);
  --ino-system-border-color: #BDBDBD;
  --ino-system-label-color: var(--ino-color-black);
  --ino-system-label-color-inverse: var(--ino-color-white);
  --ino-system-link-color: var(--ino-color-black);
  --ino-system-icon-card-bg-color: var(--ino-color-white);
  --ino-system-icon-card-bg-color-hover: var(--ino-color-black);
  --ino-system-icon-card-color: var(--ino-color-black);
  --ino-system-icon-card-color-hover: var(--ino-color-white);
  --ino-system-preview-grid-url: url('./images/grid-lines.svg');
  --ino-color-filter-invert: 0;
  --ino-overlay-border-color: var(--ino-color-black);
}

body.dark-mode {
  color-scheme: dark;

  background-color: var(--ino-color-black);
  color: var(--ino-color-white);
  --ino-system-border-color: #303030;
  --ino-system-label-color: var(--ino-color-white);
  --ino-system-label-color-inverse: var(--ino-color-black);
  --ino-system-link-color: var(--ino-color-white);
  --ino-system-icon-card-bg-color: var(--ino-color-black);
  --ino-system-icon-card-bg-color-hover: var(--ino-color-white);
  --ino-system-icon-card-color: var(--ino-color-white);
  --ino-system-icon-card-color-hover: var(--ino-color-black);
  --ino-system-preview-grid-url: url('./images/grid-lines-dark.svg');
  --ino-color-filter-invert: 1;
  --ino-overlay-border-color: var(--ino-color-white);
}

nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--ino-system-border-color);
  height: 64px;
}

nav ul {
  display: flex;
  gap: 8px;
}

a {
  color: var(--ino-system-link-color);
}

input.search-icons {
  background-color: transparent;
  outline: none;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}
input.search-icons::placeholder {
  color: var(--ino-system-label-color);
}

.nav-title {
  display: flex;
  align-items: center;
  height: 64px;
  border-right: 1px solid var(--ino-system-border-color);
  padding: 4px 16px;
  gap: 4px;
}
.nav-title img {
  height: 32px;
  width: 32px;
  margin-right: 4px;
}
.nav-menu {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--ino-system-border-color);
  position: relative;
}
.nav-menu img {
  height: 24px;
  width: 24px;
  cursor: pointer;
  filter: invert(var(--ino-color-filter-invert));
}
.nav-menu .menu {
  position: absolute;
  top: 48px;
  left: 16px;
  z-index: 1;
  background-color: var(--ino-system-icon-card-bg-color);
  width: 230px;
  height: auto;
  padding: 24px;
  border: 1px solid var(--ino-overlay-border-color);
  box-shadow: -8px 8px 0 var(--ino-overlay-border-color);
}
.nav-menu .menu ul {
  display: flex;
  flex-direction: column;
}
.nav-icon-name {
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.nav-icon-version {
  color: #757575;
  font-size: 16px;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  height: 64px;
  padding: 4px 16px;
  gap: 4px;
  border-right: 1px solid var(--ino-system-border-color);
}
.search-container img {
  filter: invert(var(--ino-color-filter-invert));
}
.search-container .popup {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  background-color: var(--ino-system-icon-card-bg-color);
  border: 1px solid var(--ino-overlay-border-color);
  box-shadow: -8px 8px 0 var(--ino-overlay-border-color);
  padding: 16px;
  z-index: 1;
}
.search-container .popup ul {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  max-height: 300px;
  overflow-y: auto;
}
.search-item a:hover {
  border-bottom: 2px solid var(--ino-system-label-color);
}
.popup-content {
  position: relative;
}
.close-popup {
  position: absolute;
  top: 0;
  right: 0;
}
.dark-mode-container {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 4px 16px;
  gap: 24px;
}
.dark-donate-container {
  display: flex;
  align-items: center;
  height: 64px;
  padding: 4px 16px;
  gap: 8px;
  border-right: 1px solid var(--ino-system-border-color);
}
.dark-donate-container li {
  font-weight: 700;
  font-size: 18px;
}

.icons-list {
  display: grid;
  gap: 0;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  border-top: 1px solid var(--ino-system-border-color);
  border-left: 1px solid var(--ino-system-border-color);
}

.icon-card {
  border: 1px solid var(--ino-system-border-color);
  aspect-ratio: 1/1;
  border-top: none;
  border-left: none;
  position: relative;
}

.icon-card .ino-icon svg {
  width: 40px;
  height: 40px;
}
.icon-card .ino-icon path {
  stroke: var(--ino-system-icon-card-color);
}
.icon-card a:hover .ino-icon path {
  stroke: var(--ino-system-icon-card-color-hover);
}

.icon-card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  text-decoration: none;
  transition: all .2s ease-in-out;
  background-color: var(--ino-system-icon-card-bg-color);
  color: var(--ino-system-icon-card-color);
}

.icon-card a:hover {
  background-color: var(--ino-system-icon-card-bg-color-hover);
  color: var(--ino-system-icon-card-color-hover);
}
.icon-card a:hover p {
  max-height: 40px;
  opacity: 1;
}

.icon-card p {
  max-height: 0;
  opacity: 0;
  transition: max-height .2s ease-in-out;
  font-size: 12px;
}

.link {
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  border-bottom: 2px solid var(--ino-system-label-color);
}
.link-menu {
  font-weight: 700;
  font-size: 18px;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.link-menu:hover {
  border-bottom: 2px solid var(--ino-system-label-color);
}

.toggleDarkLabel {
  height: 32px;
  width: 60px;
  border-radius: 20px;
  border: 1px solid var(--ino-system-border-color);
  display: inline-flex;
  align-items: center;
  padding: 4px;
  gap: 4px;
  cursor: pointer;
}
.toggleDarkLabel .toggleDarkIcon.moon img {
  filter: contrast(0.1);
}
.toggleDarkLabel .toggleDarkIcon.sun {
  background-color: var(--ino-system-label-color);
}
.toggleDarkLabel .toggleDarkIcon.sun img {
  filter: invert(1);
}
.toggleDarkLabel:has(input:checked) .toggleDarkIcon.sun {
  background-color: var(--ino-system-icon-card-bg-color);
}
.toggleDarkLabel:has(input:checked) .toggleDarkIcon.moon {
  background-color: var(--ino-system-label-color);
}
.toggleDarkLabel:has(input:checked) .toggleDarkIcon.moon img {
  filter: contrast(1);
}
.toggleDarkLabel:has(input:checked) .toggleDarkIcon.sun img {
  filter: contrast(0.1);
}
.toggleDarkLabel input {
  display: none;
}
.toggleDarkLabel .toggleDarkIcon {
  width: 24px;
  height: 24px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}
.toggleDarkLabel img {
  width: 16px;
  height: 16px;
}

.icon-preview-container {
  height: 320px;
  display: flex;
  border-top: 1px solid var(--ino-system-border-color);
  border-bottom: 1px solid var(--ino-system-border-color);
}
.icon-controls {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--ino-system-border-color);
  width: 410px;
}
.icon-controls .icon-control {
  height: 80px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.icon-controls .icon-control {
  width: 100%;
}
.icon-controls .icon-control:not(:last-child) {
  border-bottom: 1px solid var(--ino-system-border-color);
}
.icon-controls .icon-control button {
  background-color: var(--ino-system-label-color);
  color: var(--ino-system-label-color-inverse);
  width: 100%;
  padding: 12px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  border-radius: 4px;
}
.icon-controls .icon-control span {
  font-size: 18px;
  font-weight: 700;
}
.icon-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  background-image: var(--ino-system-preview-grid-url);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.icon-preview svg {
  border: 1px solid var(--ino-system-border-color);
}
.icon-control-img {
  filter: invert(var(--ino-color-filter-invert));
}

/* The range itself */
.input-range {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 2px; /* Specified height */
  background: var(--ino-system-label-color); /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}
/* Mouse-over effects */
.input-range:hover {
  opacity: 1; 
}
/* The range handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.input-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--ino-system-label-color-inverse);
  border: 2px solid var(--ino-system-label-color);
  border-radius: 15px;
  cursor: pointer;
}

.slideinput-range::-moz-range-thumb {
  width: 20px; 
  height: 20px; 
  background: var(--ino-system-label-color-inverse);
  border: 2px solid var(--ino-system-label-color);
  border-radius: 15px;
  cursor: pointer;
}

.reset-value {
  cursor: pointer;
  filter: invert(var(--ino-color-filter-invert));
}
.MuiColorInput-TextField {
  width: 100%;
  border: none !important;
}
.MuiColorInput-TextField input {
  font-family: Nunito;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: var(--ino-system-label-color);
  border: 1px solid var(--ino-system-label-color) !important;
  border-radius: 4px;
}
.MuiInputBase-root {
  padding-left: 0 !important;
}
.MuiInputBase-root button {
  border-radius: 0 !important;
}
.MuiInputBase-root .MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.MuiInputBase-root:hover .MuiOutlinedInput-notchedOutline {
  border: none !important;
}
.MuiPopover-paper {
  border: 1px solid var(--ino-overlay-border-color);
  border-radius: 0 !important;
  box-shadow: -8px 8px 0 var(--ino-overlay-border-color) !important;
}
.MuiPopover-paper > div {
  padding: 16px !important;
}

.footer {
  padding: 4px 16px;
  border-top: 1px solid var(--ino-system-border-color);
  border-bottom: 1px solid var(--ino-system-border-color);
  margin-top: 64px;
}
.footer ul {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  font-size: 18px;
  font-weight: 700;
}

.about-container {
  border: 1px solid var(--ino-system-border-color);
  padding: 24px;
  max-width: 680px;
  margin: 40px auto 0 auto;
  font-size: 20px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.about-container a {
  text-decoration: underline;
}

.nav-first-content,
.nav-second-content {
  display: flex;
}
.nav-second-content {
  flex: 1;
}

@media (max-width: 950px) {
  .dark-donate-container {
    display: none;
  }
}
@media (max-width: 680px) {
  .dark-mode-container-link {
    display: none;
  }
  .icon-card .ino-icon svg {
    width: 32px;
    height: 32px;
  }
}
@media (max-width: 500px) {
  h1 {
    font-size: 24px !important;
  }
  nav {
    flex-direction: column;
    height: auto;
  }
  .nav-title-container {
    flex: 1;
  }
  .nav-first-content {
    flex: 1;
    width: 100%;
    border-bottom: 1px solid var(--ino-system-border-color);
  }
  .nav-second-content {
    width: 100%;
  }
  .nav-title {
    border-right: none;
  }
  .nav-menu .menu {
    width: calc(100vw - 15px);
    left: 0;
    top: 64px;
  }
  .icons-list {
    grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
  }
  .icon-card p {
    display: none;
  }
  .icon-card .ino-icon svg {
    width: 24px;
    height: 24px;
  }
  .footer ul {
    height: auto;
    flex-direction: column;
    gap: 16px;
  }
  .popup {
    width: calc(100vw - 15px);
  }
  .icon-preview-container {
    flex-direction: column-reverse;
    height: auto;
  }
  .icon-preview {
    height: 210px;
    min-height: 210px;
    border-bottom: 1px solid var(--ino-system-border-color);
  }
  .icon-controls {
    width: 100%;
  }
}